@import url("https://fonts.googleapis.com/css2?family=DM+Mono&family=Duru+Sans&display=swap");

a, a:visited { color:gray; }

.title-card {padding-left: 35px;}

h1 { margin-bottom: 0px;}

.title-card > p {
    margin:auto;
}

#contact-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    cursor: pointer
}


/* START HAMBURGER SCRIPT */

.ham-menu {
    background-color: #2C8C99;
    width: 35px;
    height: 30px;
    margin: 40px 60px 0 20px;
    cursor: pointer;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: #312F2F;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform:translateY(4px);
}

.animated .bar {
    background-color:#DCEDFF;
    ;
}

.animated #bar1 {
    transform: translateY(4px) rotate(-45deg);
}

.animated #bar3 {
    transform: translateY(-6px) rotate(45deg);
}

.animated #bar2 {
    opacity: 0;
}

.ham-menu.animated {
    margin: 40px 60px 20px 65px;
}

.animated {
    display: block;
}

.nav-links li a {
    color: #DCEDFF;
    font-weight: 800;
    text-decoration: none;
}

.link {
    text-align: right;
    padding-right: 25px;
}

.nav-links li {
    list-style: none;
    text-align: right;
    padding: 10px 0;
}

.nav-links li a:hover {
    font-weight: bold;
}

.nav-links {
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
}

ul#nav-links.animated {
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: inline-block;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height:0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #2C8C99, #2C8C99);
    border-radius: 50%;
    transition: 0.3s ease;
}

.hamnav {
    z-index: 2;
}

.animated-bg {
    width: 550px;
    height: 540px;
    transform: translate(60%, -30%);
}

.hamnav, .menu-bg {
    top:0;
    right: 0;
    position: absolute;
}
/* END HAMBURGER SCRIPT */

.hidden { display: none; }

body {
    background-color: #DCEDFF;
    font-family: "Duru Sans", sans-serif;
    color: #312F2F;
}

header {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    background: transparent;
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    background-color: #2C8C99;
    font-weight: 500;
    margin:0px auto;
    left:0px;
    right:0px;
    height:80px;
}

h3 {
    margin-bottom: 5px;
    /* font-weight: 900; */
}

main {
    margin-top:150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.credits {
    font-size: 14px;
    color: gray;
    margin-top: 0px;
}

/* @media (min-width: 812px) {
    body {
        background-color: red;
    }
} */