@import url("https://fonts.googleapis.com/css2?family=DM+Mono&family=Duru+Sans&display=swap");

a, a:visited {
    color:gray;
}

h1 {
    padding-left: 35px;
}

.hidden {
    display: none;
}

body {
    background-color: #DCEDFF;
    font-family: "Duru Sans", sans-serif;
    color: #312F2F;
}

header {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    background: transparent;
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    background-color: #2C8C99;
    font-weight: 500;
    margin:0px auto;
    left:0px;
    right:0px;
    height:80px;
}

h3 {
    margin-bottom: 5px;
    font-weight: 900;
}

main {
    margin-top:150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.credits {
    font-size: 14px;
    color: gray;
    margin-top: 0px;
}

/* @media (min-width: 812px) {
    body {
        background-color: red;
    }
} */